---
layout: default
title: Integration
suppress_header: true
extra_css:
  - features-v2.css
  - release-posts.css
---

= partial "includes/stages/stage-page", locals: { solution: data.stages.stages.integration, solution_name: "integration" }
