.btn.dropdown-menu-toggle {
  position: relative;
  width: 160px;
  padding: 6px 20px 6px 10px;
  background-color: $color-white;
  color: $dropdown-text-color;
  font-size: 15px;
  text-align: left;
  border: 1px solid $dropdown-border-color;
  border-radius: 3px;
  outline: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  min-height: 45px;

  .fa {
    position: absolute;
    top: 50%;
    right: 6px;
    margin-top: -6px;
    color: $dropdown-focus-color;
    font-size: 10px;
  }

  &:hover,
  &:focus {
    outline: 0;
    box-shadow: none;
    border-color: $dropdown-focus-color;
  }

  .subtitle {
    color: $color-gray-light;
    float: right;
  }

  .title {
    position: absolute;
    bottom: 4px;
  }

  .title-truncated {
    @include str-truncated(80%)
  }

  .label {
    position: absolute;
    font-size: 13px;
    top: 4px;
    color: $color-gray-light;
  }
}

.navbar-default .navbar-nav {
  > .dropdown > a {
    border: 1px solid transparent;
    border-bottom: 0;
    border-radius: $border-radius-base $border-radius-base 0 0;
  }

  > .open {

    // Hide Active selector on dropdown
    &.active::after {
      content: none;
    }

    @media (min-width: $screen-md) {
      &::before {
        position: absolute;
        top: 100%;
        right: 1px;
        left: 0;
        height: 1px;
        background-color: $dropdown-bg;
        content: "";
        z-index: ($zindex-dropdown + 1);
      }

      > a {
        border-color: $dropdown-border;
      }
    }
  }
}

.dropdown-menu {

  //scss-lint:disable QualifyingElement
  body.events .navbar-nav & {
    // Override events styling
    width: auto;
    padding: initial;

    li {
      padding: initial;
    }

    .dropdown-header {
      padding: 3px 20px;
    }
  }

  body.features .navbar-nav & {
    // Override features styling
    > .divider {
      width: auto;
    }
  }

  body.comparison .navbar-nav & {
    // Override commparison styling
    //scss-lint:disable SelectorDepth
    width: auto;

    > li > a:hover,
    > li > a:focus {
      color: $dropdown-link-hover-color;
    }
  }

  body.comparison .row & {
    // Restore comparison styling
    //scss-lint:disable SelectorDepth
    font-size: 14px;

    li:hover span,
    li a:hover {
      $lt-comparison-link-hover-color: #f5f5f5;
      background-color: $lt-comparison-link-hover-color;
    }
  }
  //scss-lint:enable QualifyingElement

  @media (max-width: $screen-sm-max) {
    .navbar-nav .open & {
      border-bottom: 1px solid $dropdown-divider-bg;
      text-align: center;
    }
  }

  @media (min-width: $screen-md) {
    font-size: 15px;
  }

  .value,
  .display-value {
    color: $color-gray-light;
    float: right;
  }

  &.dropdown-scroll {
    max-height: 215px;
    overflow-y: scroll;
  }

  .navbar-nav & > .dropdown-header {
    color: $color-gray-dark;
    font-weight: 600;
  }

  .navbar-nav & > li {
    font-size: inherit;
  }
}

